{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">File Upload</h1>

{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="des">
      {{ form.description.label}}
      {{ form.description(class="form-control") }}

  </div>
  <div class="form-group">
    {{ form.photo.label }}
    {{ form.photo(class="form-control") }}
</div>
{% endblock %}